.wrapper{
width: 1875px;
border: 1px solid white;    
}

.header{
    width: 100%;
    float: left;
    background-color: white;
    height: 100px;
    position: fixed;
}
.navigation ul{
    text-align: center;
}


.navigation li{
    display: inline-block;
    margin-right: 100px;
    margin-bottom: 25px;
    margin-top: 15px;
}

.navigation a{
    text-decoration: none;
    color: red;
    font-size: 35px;
    margin-left: 175px;
    background-color: white;
    border: 3px solid white;
}
.navigation a:hover{
    color:aqua;
}




































